*{
	padding: 0;
	margin:0;
	box-sizing: border-box;
}
body{
	
	margin:0 auto;

}

#ribbon img{
	height:90px;
	position: absolute;
	right:0;
}
 #logo div p{
	background-color: rgba(135,158,15);
	width:100%;
	margin:0 auto;
	font-weight: 300;
	text-align: center;
	color:white;
}
#ribbon{
	margin:0 auto;
}

/******************************
          Header
*******************************/  

header,footer{
	background-image: url('img/bg.jpg');
	width:100%;

}  

#the ul{
	display:flex;
	justify-content: space-around;
	list-style: none;
	/*padding-top: 1%
	padding-bottom:;*/
	padding:1%;
	

}
#the ul li a{
	text-decoration: none;
	color:#d6e0a3;

}
#the ul h4{
	color:white;
	padding-top: 20px;
}

#cart{
	border:1px solid white;
	border-radius:100%;
	padding:5px
}

/********************************
   list
  ******************/
  #list{
  	width:70%;
  	margin:0 auto;

  }
  #list nav ul{
	display:flex;
	justify-content: space-around;
	list-style: none;
	padding-top: 1%;
	padding-bottom:2%;
	
}

	#list nav ul a{
		text-decoration: none;
		color:white;
	}


	/*********************************
	      NOOOEEEEL
	****************************/
	
	#noel {
		margin:0 auto;
		width:60%;
		text-align: center;
    }  
    #noel h1{
    	color:#8ea50b;
    }    
   #list h2,#product h2{
   	text-align: center;
    color:#8ea50b;
   }

   legend{
   	text-align: center;
   }
   fieldset{
   	border-bottom-style: none;
   	border-left-style: none;
   	border-right-style: none;
   	width:90%;
   	margin:0 auto;

   }

   main{
   	width:90%;
   	margin:0 auto;
   /*	background-color: yellow;*/
   }

   #product{
   	display:flex;
   	width:80%;
   	margin:0 auto;
   }

   #product img{
   	height:50%;
   }

   #product div {
   margin:0 auto;
   width:30%;
   border:1px solid red;
   text-align: center;
   }
   /*.Notre{
   	text-align: center;
   }*/
   #product button{
   	padding:5%;
   	background-color: #b09067;
   }

   footer{
    color:white;
   }
   footer a{
   	text-decoration: none;
   	color:white;
   }
   #securite{
   	background-image: url('img/bg.jpg');

   }
   #securite nav ul li{
 text-align: center;
 color:white;
   }
